.dropdown-transparent {
  background-color: transparent !important;
  border: none !important;
  color: white !important; 
}

.dropdown-items-scrolled {
  background-color: #1a1a1a!important; 
  color: white !important;
}

.navbar .dropdown-menu {
  background-color: transparent !important;
  border: none !important;
  margin: 0 !important;
}

.dropdown-item:nth-last-child(1){
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-bottom: 8px;
}
